DATABASE_URL="mysql://user:password@localhost:3306/vocalearn"
PORT=3000
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET="your_access_secret_here"
JWT_REFRESH_SECRET="your_refresh_secret_here"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Cloudinary
CLOUDINARY_NAME ="your_cloudinary_name"
CLOUDINARY_API_KEY ="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Email
GMAIL_USER=youremail@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
CLIENT_RESET_PASSWORD_URL=http://localhost:3000/reset-password